@model IEnumerable<TermProject1.Models.Review>

@{
    ViewData["Title"] = "Reviews";
}
<div class="th-bg-darkblue th p-2 rounded-2 th-div-full" >
    <h3>Index</h3>

   
    <table class="table th-light">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Game)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GameRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GameReview)
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                        <button class="th-btn rounded-2 p-1 m-0" style="width:100%;" onclick="window.location.href = '@Url.Action("Details", new { id = item.ReviewId })';">
                            View
                        </button>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameReview)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>