@model IEnumerable<TermProject1.Models.Category>

@{
    ViewData["Title"] = "Categories";
}
<div class ="rounded-2 th-bg-darkblue p-2 overflow-auto" style="height:80vh;">
    <h1>Index</h1>

    <button type="button" class="th-btn-other text-center rounded-3 p-1 mt-2" onclick="window.location.href= '/Category/Create'">
        Add New Category
    </button>
    <table class="table th-light">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <button class="th-btn rounded-2 p-1 m-0" style="width:100%;" onclick="window.location.href = '@Url.Action("Details", new { id = item.Id })';">
                        Details
                    </button>
                </td>
                <td>
                    <button class="th-btn rounded-2 p-1 m-0" style="width:100%;" onclick="window.location.href = '@Url.Action("Edit", new { id = item.Id })';">
                        Edit
                        </button>
                </td>
                <td>
                    <button class="th-btn rounded-2 p-1 m-0" style="width:100%;" onclick="window.location.href = '@Url.Action("Delete", new { id = item.Id })';">
                        Delete
                    </button>
                </td>
               
            </tr>
    }
        </tbody>
    </table>
</div>