@model IEnumerable<TermProject1.Models.Review>

@{
    ViewData["Title"] = "Reviews";
}
<div class="th-bg-darkblue th p-2 rounded-2 th-div-full" >
    <h2>Reviews</h2>
    @if (!string.IsNullOrEmpty(ViewBag.Game))
    {
        <h5 class="pt-2">@ViewBag.Game </h5>
        
    }
    
    <table class="table th-light">
        <thead>
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.Game)
                </th>
                <th>
                    Rating
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GameReview)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Game.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameReview)
                </td>
                <td>
                    <button class="th-btn rounded-2 p-1 px-4 m-0" style="width:100%;" onclick="window.location.href = '@Url.Action("Details", new { id = item.ReviewId })';">
                        View
                    </button>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>